.ruletaTabla{
    width: 730px;
    height: 100%;
    text-align: center;
    color: white;
    background: #1d6c38;
    display: grid;
    
}
.botonesSuperiores{
    display: grid;
    grid-template-columns: 54px 1fr 80px;
    grid-template-rows: 150px;   
}
.numero0{
    display: grid;
    height: 100%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
}

.numero0 div{
    width: 50px;
    height: 50px;
}

.numerosTodos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    
}
.numerosTodos div{
     width: 100%;
     cursor: pointer;
}
.filas{
    display: grid;
    cursor: pointer;
}


.docenas{
    display: grid;
    cursor: pointer;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px;
}

.ultimaFila{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px;
}

.primer18Impar, .color, .segundo18Par{
    display: grid;
    grid-template-columns: 1fr 1fr;
    cursor: pointer;
}